@font-face {
    font-family: SamsungOne;
    src: url(SamsungOne-400.ttf);
}

body {
    margin: 0;
    font-family: SamsungOne, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 32px;
}

#promo {
    background-color: #1b2d6b;
    color: white;
    font-weight: 400;
    width: 100%;
    padding: 0;
    text-align: center;
    position: relative;
}

#promo a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#x {
    position: absolute;
    top: 13px;
    right: 54px;
    font-size: 24px;
}

#header-container {
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 80px;
}

header {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1440px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin-right: 64px;
    align-items: center;
}

#logo:hover {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav div {
    display: flex;
}

.nav-item {
    font-weight: bold;
    padding: 0 8px;
}

.nav-item:hover {
    background-color: black;
    color: white;
    border-radius: 16px;
    cursor: pointer;
}

#utility {
    margin-left: 28px;
    display: flex;
    color:#1b2d6b;
}

span {
    padding: 0 8px;
    color: black;
}

span:hover {
    cursor: pointer;
}