* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Header Section */
#header-section {
    background-color: white;
    height: 80px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}

.header-left {
    display: flex;
}

.header-right {
    display: flex;
}

.logo  {
    margin: auto 64px auto 0;
}

.nav > ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav li {
    padding: 0 8px;
    line-height: 32px;
}

.nav li:hover {
    background-color: black;
    color: white;
    border-radius: 16px;
    cursor: pointer;
}

#utility { 
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 28px;
}

#utility > * {
    padding: 8px;
}

/* Hero Section */
